.box-image{
    width: 1200px;
}

img {
    max-width: 100%;
    object-fit: cover;
    aspect-ratio: 16/9;
}

.carosello {
    margin: 0 auto;
    position: relative;
}

.slide.active {
    display: block;
}

.slide {
    display: none;
}

.arrow {
    position: absolute;
    font-size: 40px;
    color: black;
    z-index: 99;
}

.arrow-left {
    top: 50%;
    left: 30px;
    transform:translate(50%)
}

.arrow-right {
    top: 50%;
    right: 30px;
}

.text {
    /* position: absolute; */
    right: 30px;
    bottom: 80px;
    font-weight: bold;
    /* color: bisque; */
}

.description {
    bottom: 60px;
}